/* =========================
   RESET // BASE 
========================= */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.section {
  padding: 120px 0;
}

.hero {
  padding-top: 140px;
}

.card {
  padding: 40px;
}

.hero {
  background: linear-gradient(180deg, #ffffff 0%, #f7f7fb 100%);
}

body {
  font-family: 'Space Grotesk', 'Inter', sans-serif;
  background: #E49A4D;
  line-height: 1.6;
  font-weight: 500;
}



.section {
  padding: 80px 0;
}


h1 {
  font-size: 3rem;
  font-weight: 600;
  padding: 25px;
  border-radius: 20px;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em; 
  margin-inline-start: 0px; margin-inline-end: 0px;
  line-height: 1.1;
  letter-spacing: -1px;

}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

p {
    margin-bottom: 25px;
    font-size: 18px;
  color: #555;
}
/* =========================
   layout 
========================= */
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 24px;
}

.section {
  padding: 80px 0;
}


/* =========================
  IMAGES
========================= */

.img {

     width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.header-images img {
  max-width: 900px;
  width: 100%;
  margin: 40px auto;
  display: block;
}

.feature img {
  max-width: 480px;
  width: 100%;
}



.hero-image {
  max-width: 500px;
}

.hero-image img {
  width: 100%;
}

/* =========================
   nav bar 
========================= */
.nav {
  background: #E49A4D;
  border-bottom: 1px solid #452723;
}

.nav-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.nav-actions {
  display: flex;
  gap: 10px;
}

nav-toggle {
    max-width: 100%;
    max-height: auto;
}

/* =========================
   BUTTONS 
========================= */


.btn {
  padding: 12px 20px;
  border-radius: 999px;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  transition: 0.2s ease;
}

.btn-primary {
  background: #452723;
  color: #E49A4D;
  box-shadow: 0 8px 20px rgba #452723 ;
}

.btn-primary:hover {
  background: #452723;
  transform: translateY(-2px);

}

.btn-secondary {
  border: 1px solid #452723;
  color: #333;
}

.btn-login {
  color: #452723;
}

.btn-signup {
  background: #452723;
  color: #F6DDC4;
}



/* =========================
   HERO
========================= */

.hero {
    background: #E49A4D;
    padding: 140px 80px 251px 80px;
}

.hero-header {
    display: block;
    color: #452723;
    font-weight: 600;
    transition: .3s, opacity .3s;
    font-size: 3em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.hero-inner {
  display: flex;
  align-items: center;
  gap: 60px;
}

.hero-text {
  flex: 1;
}

.hero-p {
  font-size: 18px;
  color: #452723 ;
  margin-bottom: 10px;
  transition: .3s, opacity .3s;
  font-weight: 400;
  margin-top: 16px;
}

.hero-image {
  flex: 1;
}

.hero-image img {
  width: 100%;
  border-radius: 16px;
  box-shadow: 0 30px 60px rgba(0,0,0,0.1);
}

/* =========================
   GRID 
========================= */


.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}


/* =========================
   CARDS
========================= */


.card {
  background: #452723;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
  color: #eee9e3;
  border: 1px solid #eee;
  transition: 0.3s ease;
}

.card h3 {
  margin-bottom: 10px;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 20px 40px rgba(0,0,0,0.08);
}


/* =========================
   GALLERY
========================= */

.gallery.section {
    background: #FFF5F5;
    padding: 167px 80px 126px 80px;

}

.gallery-heading {
    font-weight: 900;
    color: #141414;
    align-items: center;
}

.gallery-p {
    align-items: center;
    display: block;
     color: #141414;
    padding-top: 25px;
    padding-bottom: 25px;
    
}


.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  list-style: none;
}

.gallery-grid li {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  cursor: pointer;
}

.gallery-grid img {
  width: 100%;
  display: block;
  transition: transform 0.4s ease;
}

.gallery-grid li:hover img {
  transform: scale(1.08);
}

.hover-text {
  position: absolute;
  align-items: center;
  bottom: 30px;
  left: 30px;
  background-color: #FFF5F5;
  padding: 50px;
  border-radius: 20px;
  color: #303030;
  font-weight: 600;
  opacity: 0;
  transition: 0.4s ease-in-out;
  max-width: 100%;
}

@keyframes hover-text {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }

}

.hover-text {
    animation: slideUpEntrance 0.8s ease-out forwards;
}

.gallery-grid li:hover .hover-text {
  opacity: 1;
}

.header-images-h2 {
    background-color: #FFF5F5;
    margin: 0;
    padding: 100px; 
    padding-left: 125px;

}

.header-images-p {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 75px;
    background-color: #FFF5F5;
}

.header-images {
    background-color: #FFF5F5;
}

.blog {
    background-color: #141414;
    color: #eee;

}


/* =========================
   bex irvine
========================= */

.bex {
    background-color: #F6D6BF;
    color: #452723;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 2rem;
}

.bex-img {
    width: 581px;
    height: 762px;
    
}

.bex-p {
    padding-top: 50px;
    color:#452723;
    font-weight: 200;

}

.cite {
    font-size: xx-small;
    font-weight: 100;
}

.bexbtn {
    background-color: #452723;
    color: #F6D6BF;
    margin-top: 50px;
    size: 20px;
}

/* =========================
   FAQ
========================= */

.faq {
    padding: 50px;
    background-color: #F6D6BF;
    color: #452723;
}


.faq-container {
  max-width: 700px;
  margin: 0 auto;
  padding: 25px;
}

details {
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

summary {
  font-weight: 600;
}

.answer {
    padding: 25px;
}

/* =========================
   FOOTER 
========================= */


.footer {
  background: #D3883C;
  color: #452723;
  padding-top: 60px;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
}

.footer-col a {
  display: block;
  color: #452723;
  text-decoration: none;
  margin-top: 8px;
}

.footer-col a:hover {
  color: #452723;
}

.footer-bottom {
  border-top: 1px solid #E49A4D;
  margin-top: 40px;
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
}


@media (max-width: 900px) {
  .hero-inner {
    flex-direction: column;
    text-align: center;
  }

  .grid-3 {
    grid-template-columns: 1fr;
  }

  .grid-2 {
    grid-template-columns: 1fr;
  }
}