<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components | Podia </title>
    <link href="https://use.typekit.net/gvd3sdb.css" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">

</head>
<body>
  <main class="page">
    <h1>Web Components</h1>

    <h2>Typography Defaults</h2>

    <article class="component">
      <h3 class="component-name">Body</h3>
      <img src="img/organism-hero.png" alt="body copy">
    </article>

    <div class="component-code">
      <h3>Pick a stunning template and make it yours</h3>
      <p>Our site builder makes it easy...</p>
    </div>
  </main>
</body>
</html>