<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components | Podia </title>
      <link rel="stylesheet" href="https://use.typekit.net/gvd3sdb.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/normalize.css">

</head>
<body>
    <h1>Web Components</h1>

    <h2>Typography Defaults</h2>

    <article class="component">
    <h3 class="component-name">Body</h3>
    <img 
    srcset="img/organism-hero.png 2x"
    src="img/organism-hero.png"
    alt="body copy">
    </article>

    <div class="component-code">
        <h3 class="component-name">Pick a stunning template and make it yours</h3>
        <p>Our site builder makes it easy to make websites that aren’t just beautiful to look at. They’re also built for performance, which means speed, SEO, and sales-boosting layouts.</p>
    </div>
</body>
</html>